<div class="card border-0 shadow-sm">
  <div class="card-body">
    <div class="mb-2">
      <span>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </span>
    </div>

    <p class="card-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta minus tempore minima labore natus dolor a excepturi beatae.
    </p>

    <div class="d-flex gap-2 align-items-center">
      <img src="/assets/images/avatar.png" width="35" height="35" alt="">
      <p class="mb-0 bold">Taofeek O.</p>
    </div>
  </div>
</div>
