.hero .title {
  font-size: 4rem;
  font-weight: bold;
}

.search-box {
  position: relative;
  display: flex;
  gap: 5px;
  padding: 10px;
  background-color: #fff;

  input {
    flex: 1;
    border: 0;
    outline: none;
  }
}
