<ul class="nav" [class]="classes">
	<li class="nav-item me-2">
		<a href="https://www.facebook.com/taoltech" target="_blank" class="nav-link icon">
			<i class="bi bi-facebook"></i>
		</a>
	</li>

	<li class="nav-item me-2">
		<a href="https://linkedin.com/taoltech" class="nav-link icon" target="_blank">
			<i class="bi bi-linkedin"></i>
		</a>
	</li>

	<li class="nav-item me-2 d-none">
		<a href="https://www.instagram.com/taoltech" class="_blank" class="nav-link icon">
			<i class="bi bi-instagram"></i>
		</a>
	</li>

	<li class="nav-item me-2">
		<a href="https://www.instagram.com/taoltech" class="nav-link icon">
			<i class="bi bi-twitter"></i>
		</a>
	</li>

</ul>
